

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 5rem 0;
    min-height: 100vh;
}

.hi-sentence {
    color: var(--accent-orange);
    margin: 0;
    padding: 1rem 0;
    font-family: var(--mono-font)
}

.hero-container h1 {
    font-size: 3rem;
    margin: 0;
}

.hero-container h1 {
    font-size: 4rem;
}